/* fonts import */
@import url('https://fonts.googleapis.com/css?family=Gabriela|Roboto&display=swap');

html {
    font-family: var(--font-fallback);
    font-size: 13px;
    line-height: 1.54;
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: var(--color-blank-black);
}

body,
div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
pre,
span,
ul {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

html,
body {
    height: 100%;
}

input,
textarea,
label,
a {
    -webkit-tap-highlight-color: transparent;
}

html,
body,
:global(.app) {
    color: var(--color-blank-black);
    font: 13px/20px var(--font-default);
    font-display: swap;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    font-feature-settings: kern "1", "liga" 0, "clig" 0;
}

a {
    background-color: transparent;
    color: var(--color-link);
    text-decoration: none;
    outline: 0;
}

a:active,
a:hover {
    outline: 0;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    appearance: none;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input {
    line-height: normal;
    -moz-appearance: textfield;

    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input:invalid {
    box-shadow: none;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    appearance: none;
}

fieldset,
legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    color: var(--color-text-primary);
    transition: background-color 0s ease 5000s;
}

code {
    display: block;
    padding: 6px;
    border-radius: 6px;
    background-color: var(--color-text-alternate);
}

* {
    &::selection {
        background: var(--color-primary) !important;
        color: var(--color-text-primary) !important;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

wbr::after {
    content: '\200B';
}
