.headerWrapper {
    border-bottom: 2px solid #959393;
    padding: 30px 60px 30px;
}

.headerLink:hover {
    cursor: pointer;
}

.headerLink {
    display: inline-flex;
}

.headerLogo {
    width: 45px;
    height: 45px;
    margin-right: 7px;
}

.logoPinkTitle {
    color: var(--color-pink);

    @mixin text roboto h1;
}

.logoTitle {
    @mixin text robotoLight h1;
}
