.tagContainer {
    color: #fff;
    line-height: 38px;
    padding: 8px 18px;
    background: #B3B3B3;
    border-radius: 4px;
    margin: 6px 4px;

    @mixin text robotoLight p
}

.tagContainer:hover {
    cursor: pointer;
}
