.questCardWrapper {
    margin: 50px 0 0;
    display: inline-flex;
    width: 100%;
}

.questCardContent {
    margin-left: 34px;
}

.questCardImage {
    height: 150px;
    width: 200px;
}

.questCardDescription {
    margin-top: 25px;

    @mixin text gabriela p;
}

.questCardTitle {
    @mixin text gabriela h3
}

.questCardTagWrapper {
    margin-top: 16px;
    display: flex;
    flex-flow: wrap;
}
