.controlsWrapper {
    display: flex;
    margin: 38px 0;
    justify-content: center;
}

.controlButton {
    background: #555;
    border-radius: 4px;
    text-align: center;
    padding: 20px 18px;
    color: white;
    font-size: 29px;
    margin: 8px 20px;

    @mixin text roboto h3;
}

.achievementHeaderText {
    @mixin text gabriela h3;
}

.achievementWrapper {
    display: inline-flex;
}

.achievementImage {
    height: 147px;
    width: 147px;
    border-radius: 147px;
}

.achievementContent {
    margin: 34px;

    @mixin text gabriela p;
}

.achievementName {
    line-height: 60px;

    @mixin text gabriela h2;
}

.questContentWrapper {
    position: relative;
    height: 380px;
    padding: 30px;
    margin-bottom: 40px;
    background-size: cover !important;
}

.questContentText {
    color: white;
    max-width: 50%;
    position: absolute;
    word-break: break-all;
    white-space: pre-line;

    @mixin text gabriela p;
}

.top-left {
    top: 30px;
    left: 30px;
}

.top-right {
    top: 30px;
    right: 30px;
}

.bottom-left {
    bottom: 30px;
    left: 30px;
}

.bottom-right {
    bottom: 30px;
    right: 30px;
}
